body{
   background-color: white
}

[class*="col-"], .col{
   height: 60px;
   padding: 20px;
   color: white;
   border: 1px solid white;
   background-color: blue;
   text-align: center;
}


.nested{
   background-color: rgb(35, 221, 35);
   border-color: blue;
}

.row.h-fit{
   height: fit-content;
}